#navigation-bar {
  box-shadow: 0, 0, 0, 0.5;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}
#nav-links {
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  gap: 32px; 
}
.active {
  background-color: #FDC55E;
  border-radius: 16px;
}
.me-2{
  height: 40px;
  width: 400px;
  justify-content: center;
  margin-top: 5px;
}
/* .home {
  background-color: #FDC55E;
  border-radius: 16px;
} */
.menu:hover {
  color: #FDC55E;
  scale: 1.2;
}
.vendors:hover {
  color: #FDC55E;
  scale: 1.2;
}
#navbarScrollingDropdown:hover {
  color: #FDC55E;
  scale: 1.2;
}
.contactUs:hover {
  color: #FDC55E;
  scale: 1.2;
}
#navbarScroll:hover {
  color: #FDC55E;
}

/* Responsiveness for the Container that comes with the Navbar */
@media only screen and (max-width: 400px) {
  .container-fluid {
    max-width: 100%;
  }
}