/* Import Barlow font from Google font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  
  background-color: rgb(73, 73, 73);
}

#navigation-bar {
  box-shadow: 0, 0, 0, 0.5;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}
#nav-links {
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  gap: 32px; 
}
.active {
  background-color: #FDC55E;
  border-radius: 16px;
}
.me-2{
  height: 40px;
  width: 400px;
  justify-content: center;
  margin-top: 5px;
}
/* .home {
  background-color: #FDC55E;
  border-radius: 16px;
} */
.menu:hover {
  color: #FDC55E;
  scale: 1.2;
}
.vendors:hover {
  color: #FDC55E;
  scale: 1.2;
}
#navbarScrollingDropdown:hover {
  color: #FDC55E;
  scale: 1.2;
}
.contactUs:hover {
  color: #FDC55E;
  scale: 1.2;
}
#navbarScroll:hover {
  color: #FDC55E;
}

/* Responsiveness for the Container that comes with the Navbar */
@media only screen and (max-width: 400px) {
  .container-fluid {
    max-width: 100%;
  }
}
/* Styling for Hero section  */
#hero {
  display: flex;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 44px;
  color: plum;
}
/* Styling for Project section  */
.project1 {
  /* background-color: aliceblue; */
}